.table-row {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
    min-height: 50px;
}

.table-row:hover {
    background-color: var(--background-color-hover);
    transition: 0.15s;
}

@media (max-width: 650px) {
    .table-row {
        padding: 5px 5px 5px 5px;
        margin-bottom: 5px;
    }
}


