.panel-content-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

.content-left-div {
    margin-bottom: 4%;
    max-height: 100%;
    overflow: hidden;
}

.page-panel-img {
    max-width: 100%;
    max-height: 100%;
}


@media screen and (max-width: 912px) {
    .panel-content-container {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-bottom: 0;
    }

    .content-left-div {
        display: none;
    }
}

