
.form-container {
    margin: auto;
    padding: 1.25rem;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}


.align-button {
    display: flex;
    justify-content: center;
}
